/* ======================================================================================= */
/* Desktop */
/* ======================================================================================= */

.checkoutBodyWrapper {
  max-width: 1500px;
  /* min-width: 1100px; */

  padding: var(--padding);
  margin: 0 auto;

  .checkoutBody {
    padding: var(--padding);

    background-color: var(--color-secondary);

    h3.topMessage {
      font-size: 2.5rem;
      text-align: center;

      padding-bottom: 3rem;
    }

    .headerAndCards {
      max-width: 80rem;
      margin: 0 auto;

      .checkoutHeader {
        margin: 0 auto;

        .headerTitles {
          display: grid;
          grid-template-columns: 3fr 1fr 1fr;

          justify-items: center;

          font-size: 1.25rem;
        }
      }
      .cartCards {
        display: flex;
        flex-direction: column;

        margin: 0 auto;
      }
    }
  }
}

/* ======================================================================================= */
/* Tablet/Mobile */
/* ======================================================================================= */

@media (max-width: 684px) {
  .checkoutBodyWrapper {
    .checkoutBody {
      h3.topMessage {
        font-size: 2rem;

        padding-bottom: 2rem;
      }

      .headerAndCards {
        .checkoutHeader {
          .headerTitles {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
