.starsContainer {
  --bg-color: cadetblue;
  --star-size: 1rem;

  display: flex;
  gap: 0.15rem;

  span {
    font-size: 0.8rem;
    font-weight: 400;
  }

  background-color: white;

  .starContainer {
    display: flex;
    position: relative;

    .star {
      height: var(--star-size);
      width: var(--star-size);
      position: relative;
      fill: gold;
      stroke-width: 0;
    }

    .starCoverSlider {
      height: var(--star-size);
      width: var(--star-size);
      position: absolute;
      right: 0;

      background-color: white;
      height: 100%;
    }

    .starOutline {
      height: var(--star-size);
      width: var(--star-size);
      position: absolute;
      stroke-width: 1;
    }

    > * {
      align-self: center;
    }
  }
}
