.starsContainer {
  --bg-color: cadetblue;

  display: flex;

  /* background-color: white; */
  background-color: transparent;

  .starContainer {
    display: flex;
    position: relative;

    .star {
      position: relative;
      fill: gold;
      stroke-width: 0;
    }

    .starCoverSlider {
      position: absolute;
      right: 0;

      /* background-color: white; */
      background-color: transparent;
      /* background-color: rgba(0, 128, 0, 0.479); */
      height: 100%;
    }

    .starOutline {
      position: absolute;
      stroke-width: 1;
    }
  }
}
