.card {
  background-color: lightblue;
  background-color: white;
  padding: var(--padding);

  height: 22rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacing);

  --cut: 5rem;
  --bg: white;
  --cut-bg: lightblue;

  background:
    /* linear-gradient(135deg, var(--cut-bg) 0 50%, transparent 50%) top left, */
    linear-gradient(225deg, var(--cut-bg) 0 50%, transparent 50%) top right,
    /* linear-gradient(315deg, var(--cut-bg) 0 50%, transparent 50%) bottom right, */
      linear-gradient(45deg, var(--cut-bg) 0 50%, transparent 50%) bottom left,
    var(--bg);

  background-size:
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    100% 100%;

  background-repeat: no-repeat;

  --clip: 2rem;
  clip-path: polygon(
    var(--clip) 0%,
    100% 0%,
    100% calc(100% - var(--clip)),
    calc(100% - var(--clip)) 100%,
    0% 100%,
    0% var(--clip)
  );

  .leftSide {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .imgWrapper {
      height: 16.5rem;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin: 0 auto;
        max-height: 100%;
      }
    }
  }

  .rightSide {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    .rightTopSide {
      align-self: end;

      .titleWrapper {
        color: var(--color-primary);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .price {
        font-size: 2rem;
      }
    }

    .addToCartSection {
      align-self: start;
      justify-self: center;
      justify-self: end;
      justify-self: start;

      display: flex;

      .arrowsAndQuantity {
        height: fit-content;

        display: flex;
        align-items: center;
        font-size: 1.5rem;

        .arrow-container {
          cursor: pointer;
          user-select: none;
        }
      }

      .addToCartBtn {
        background-color: var(--bg-color-secondary);

        * {
          color: black;
        }
      }
    }
  }
  .viewProdButtonWrapper {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
