.card {
  background-color: lightblue;
  background-color: white;
  padding: var(--padding);

  height: 22rem;
  /* width: 54.37rem; */

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacing);
  /* justify-content: space-between; */
  /* justify-content: end; */

  --cut: 5rem;
  --bg: white;
  /* --cut-bg: cadetblue; */
  --cut-bg: lightblue;

  background:
    /* linear-gradient(135deg, var(--cut-bg) 0 50%, transparent 50%) top left, */
    linear-gradient(225deg, var(--cut-bg) 0 50%, transparent 50%) top right,
    /* linear-gradient(315deg, var(--cut-bg) 0 50%, transparent 50%) bottom right, */
      linear-gradient(45deg, var(--cut-bg) 0 50%, transparent 50%) bottom left,
    var(--bg);

  background-size:
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    100% 100%;

  background-repeat: no-repeat;

  --clip: 2rem;
  clip-path: polygon(
    var(--clip) 0%,
    100% 0%,
    100% calc(100% - var(--clip)),
    calc(100% - var(--clip)) 100%,
    0% 100%,
    0% var(--clip)
  );

  .leftSide {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .imgWrapper {
      /* max-height: 100%; */
      height: 16.5rem;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        /* height: 17.5rem; */
        margin: 0 auto;
        /* max-height: 15rem; */
        /* max-width: 75%; */
        /* width: 100px; */

        max-height: 100%;
      }
    }
  }

  .rightSide {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 2rem; */

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    .rightTopSide {
      align-self: end;

      .titleWrapper {
        color: var(--color-primary);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .price {
        /* font-weight: bold; */
        font-size: 2rem;
      }
    }

    .addToCartSection {
      align-self: start;
      justify-self: center;
      justify-self: end;
      justify-self: start;

      display: flex;
      /* align-items: center; */
      /* min-width: max-content; */
      /* height: 100%; */

      .arrowsAndQuantity {
        height: fit-content;

        display: flex;
        align-items: center;
        font-size: 1.5rem;

        .arrow-container {
          cursor: pointer;
          user-select: none;
        }

        .quantity {
          /* border-bottom: 1px solid black; */
        }
      }

      .addToCartBtn {
        background-color: var(--bg-color-secondary);

        * {
          color: black;
        }
      }
    }
  }
  .viewProdButtonWrapper {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
