.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;
  font-size: 5rem;
  background-color: var(--bg-color-secondary);

  .loadingWrapper {
    .coloredChar {
      color: white;
    }
  }
}
