.cartBody {
  display: flex;
  gap: var(--spacing);

  max-width: 1500px;
  min-width: 1100px;

  margin: 0 auto;

  padding: var(--padding);

  .cartItems {
    width: 100%;

    .emptyCart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--padding);

      height: 100%;

      p {
        font-size: 2rem;
      }
    }

    .cartCards {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: var(--spacing);
    }
  }

  .total-section {
    position: sticky;
    height: fit-content;
    top: 4rem;

    padding: var(--padding);
    background-color: white;

    height: fit-content;
  }
}
