a.disabled-Link {
  pointer-events: none;

  color: gray;
  opacity: 0.5;
}

button:disabled {
  cursor: initial !important;
}

.checkoutBtn {
  appearance: none;
  background-color: lightblue !important;

  button {
    appearance: none;
    color: black !important;
  }
}
