.disabled-Link {
  pointer-events: none;

  color: gray;
}

button:disabled {
  cursor: initial !important;
}

.checkoutBtn {
  background-color: lightblue !important;

  button {
    color: black !important;
  }
}
