.sortLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;

  .arrowsAndInputs {
    display: flex;

    label {
      > * {
        margin: 0;
        padding: 0;
        gap: 0;
      }

      input {
        display: none;
      }

      .arrowWrapper {
        border-radius: 50%;
        &.selectedArrow {
          background-color: rgb(25, 123, 221);
        }
      }
    }
  }
}
