.sortLine {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .arrowsAndInputs {
    display: flex;
    /* justify-content: end; */

    label {
      > * {
        margin: 0;
        padding: 0;
        gap: 0;
      }

      input {
        display: none;
      }

      svg {
        /* outline: red solid 1px; */
        border-radius: 50%;
      }
      .selectedArrow {
        background-color: dodgerblue;
      }
    }
  }
}
