.card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;

  height: 10rem;

  margin: var(--padding) auto;

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 10rem;
    }
  }

  .titleSection {
    padding: var(--padding);

    display: flex;
    align-items: center;
  }

  .quantitySection,
  .priceSection {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
  }

  .priceSection {
  }
}

.arrow-container {
  cursor: pointer;
  user-select: none;
}
