.header {
  /* overflow-x: hidden; */
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  /* min-width: var(--site-min-width); */
}

/* ======================================================================================= */
/* Desktop/Tablet */
/* ======================================================================================= */

.headerMobile,
.mobileNavBar {
  display: none;
}

.headerNonMobile {
  --header-diag-offset: calc(48rem / 16);
  --header-hover-mult: 1.1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg-color-secondary);

  .logo {
    --width: 23rem;
    min-width: var(--width);

    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 0 4rem 0 1rem;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(var(--width) - var(--header-diag-offset)) 100%,
      0% 100%
    );

    transition:
      min-width 0.25s ease,
      clip-path 0.25s ease,
      color 0.25s ease,
      background-color 0.25s ease;

    &:hover {
      color: white;
      background-color: lightslategray;

      min-width: calc(var(--width) * var(--header-hover-mult));
      clip-path: polygon(
        0% 0%,
        100% 0%,
        calc(
            var(--width) * var(--header-hover-mult) - var(--header-diag-offset)
          )
          100%,
        0% 100%
      );
    }
  }

  .navBar {
    --width: 15rem;
    min-width: var(--width);

    display: flex;
    gap: 1.25rem;
    height: 3rem;
    align-items: center;
    justify-content: end;

    background-color: lightblue;
    padding: 0 1rem 0 0rem;
    clip-path: polygon(
      var(--header-diag-offset) 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );

    transition:
      min-width 0.25s ease,
      color 0.25s ease,
      background-color 0.25s ease;

    &:hover {
      a {
        color: white;
      }
      background-color: lightslategray;
      min-width: calc(var(--width) * var(--header-hover-mult));
    }

    a {
      text-decoration: none;
      color: black;
      transition: transform 0.15s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .cartLink {
      position: relative;

      .cartCountWrapper {
        --size: 0.7rem;

        position: absolute;
        top: -10px;
        right: -11px;

        border-radius: var(--size);
        margin: 0;

        background-color: cadetblue;

        .cartCount {
          margin: 0;
          padding: 0 0.25rem;

          font-size: var(--size);
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

/* ======================================================================================= */
/* Mobile */
/* ======================================================================================= */

@media (max-width: 684px) {
  :root {
    --header-diag-offset: calc(39rem / 16);
    --header-hover-mult: 1.1;
  }

  .headerNonMobile {
    display: none;
  }

  .headerMobile {
    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color-secondary);

    .logo {
      font-size: small;

      --width: 18rem;
      width: var(--width);
      min-width: var(--width);
      padding: 0 var(--padding);

      text-decoration: none;
      color: black;
      background-color: lightblue;
      /* padding: 0 4rem 0 1rem; */
      clip-path: polygon(
        0% 0%,
        100% 0%,
        calc(var(--width) - var(--header-diag-offset)) 100%,
        0% 100%
      );

      transition:
        min-width 0.25s ease,
        clip-path 0.25s ease,
        color 0.25s ease,
        background-color 0.25s ease;

      &:hover {
        color: white;
        background-color: lightslategray;

        min-width: calc(var(--width) * var(--header-hover-mult));
        clip-path: polygon(
          0% 0%,
          100% 0%,
          calc(
              var(--width) * var(--header-hover-mult) -
                var(--header-diag-offset)
            )
            100%,
          0% 100%
        );
      }
    }

    .hamburger {
      min-width: fit-content;
      padding-right: var(--padding);
    }
  }

  .mobileNavBar {
    display: flex;

    /* ============ animation ============ */
    transition: transform 0.5s ease;
    transform: translateX(var(--width));

    &.showMobileNav {
      transform: translateX(0px);
    }
    /* =================================== */

    height: var(--header-diag-offset);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;

    --width: calc(220rem / 16);
    min-width: var(--width);

    padding: 0 1rem 0 3rem;

    gap: 1.25rem;
    align-items: center;
    justify-content: end;

    background-color: lightslategray;

    clip-path: polygon(
      var(--header-diag-offset) 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );

    a {
      text-decoration: none;
      color: black;
      transition: transform 0.15s ease;

      &:hover {
        transform: scale(1.1);
        color: white;
      }
    }

    .cartLink {
      position: relative;

      .cartCountWrapper {
        --size: 0.7rem;

        position: absolute;
        top: -8px;
        right: -9px;

        border-radius: var(--size);
        margin: 0;

        background-color: cadetblue;

        .cartCount {
          margin: 0;
          padding: 0 0.25rem;

          font-size: var(--size);
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
