:root {
  --base-ani-delay: 0.5s;
  --ani-dur: 1.75s;
  --secondary-ani-delay: 1.5s;
  --intro-slide-width: 1000rem;
  --tablet-size: 1100px;
  --last-ani-add-delay: 0.5s;
  --last-ani-dur: 1s;

  --spacing-top: 5rem;

  /* testing */
  --base-ani-delay: 0s;
  --ani-dur: 0s;
  --secondary-ani-delay: 0s;
  --last-ani-add-delay: 0s;
  --last-ani-dur: 0s;
}

/* ======================================================================================= */
/* Desktop */
/* ======================================================================================= */

.introText {
  margin-top: var(--spacing-top);
  overflow-x: hidden;

  h2.intro1,
  h2.intro2,
  h2.intro3,
  h2.intro4 {
    font-size: 3.5rem;
    width: var(--intro-slide-width);
  }

  h2.intro1,
  h2.intro3 {
    background-color: white;
    text-align: end;
    clip-path: polygon(0% 0%, 100% 0%, 99.5% 100%, 0% 100%);
  }

  h2.intro2,
  h2.intro4 {
    background-color: lightblue;
    clip-path: polygon(0.5% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  h2.intro1 {
    animation: slideIn-intro1 var(--ani-dur) ease-out forwards;
    animation-delay: calc(var(--base-ani-delay) + 0s);
    transform: translateX(calc(-1 * var(--intro-slide-width)));
    opacity: 0;
    /* vw = 1920px  */
    /* padding-right: 650px; */
    /* vw = 1100 */
    /* padding-right: 150px; */
    /* manually found padding for two screen sizes, calculated linear equation */
    padding-right: calc(0.61 * 100vw - 521px);
  }

  h2.intro2 {
    animation: slideIn-intro2 var(--ani-dur) ease-out forwards;
    animation-delay: calc(var(--base-ani-delay) + var(--secondary-ani-delay));
    transform: translateX(100vw);
    opacity: 0;

    /* vw = 1100px */
    /* padding-left: 90px; */
    /* vw = 1920px  */
    /* padding-left: 400px; */
    padding-left: calc(0.378 * 100vw - 325.8px);
  }

  h2.intro3 {
    animation: slideIn-intro3 var(--ani-dur) ease-out forwards;
    animation-delay: calc(
      var(--base-ani-delay) + var(--secondary-ani-delay) +
        var(--secondary-ani-delay)
    );
    transform: translateX(calc(-1 * var(--intro-slide-width)));
    opacity: 0;

    /* vw = 1100 */
    /* padding-right: 90px; */
    /* vw = 1920px  */
    /* padding-right: 310px; */
    padding-right: calc(0.268 * 100vw - 204.8px);
  }

  h2.intro4 {
    animation: slideIn-intro4 var(--ani-dur) ease-out forwards;
    animation-delay: calc(
      var(--base-ani-delay) + var(--secondary-ani-delay) +
        var(--secondary-ani-delay) + var(--secondary-ani-delay)
    );
    transform: translateX(100vw);
    opacity: 0;

    /* vw = 1100 */
    /* padding-right: 90px; */
    /* vw = 1920px  */
    /* padding-left: 530px; */
    padding-left: calc(0.537 * 100vw - 500.7px);
  }
}

.intro5 {
  animation: slideIn-intro5 var(--last-ani-dur) ease-out forwards;
  animation-delay: calc(
    var(--base-ani-delay) + var(--secondary-ani-delay) +
      var(--secondary-ani-delay) + var(--secondary-ani-delay) +
      var(--secondary-ani-delay) + var(--last-ani-add-delay)
  );
  transform: translateY(5vh);
  opacity: 0;

  display: flex;
  flex-direction: column;

  margin-top: var(--spacing-top);

  .shopNowButton {
    align-self: center;
    background-color: white;

    button {
      color: black;
    }
  }

  h3.bestSellerTitle {
    font-size: 3rem;

    border-bottom: black 1px solid;
    text-align: center;
    width: 80%;
    max-width: 40rem;
    margin: var(--spacing-top) auto 1rem;
  }

  .bestSellersCards {
    max-width: 1500px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing);

    padding: var(--padding);
  }
}

@keyframes slideIn-intro1 {
  to {
    transform: translateX(calc(-1 * var(--intro-slide-width) + 100vw - 10rem));
    opacity: 1;
  }
}

@keyframes slideIn-intro2 {
  to {
    transform: translateX(20rem);
    opacity: 1;
  }
}

@keyframes slideIn-intro3 {
  to {
    transform: translateX(
      calc(-1 * var(--intro-slide-width) + 100vw - 19.9rem)
    );
    opacity: 1;
  }
}

@keyframes slideIn-intro4 {
  to {
    transform: translateX(10rem);
    opacity: 1;
  }
}

@keyframes slideIn-intro5 {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ======================================================================================= */
/* Tablet */
/* ======================================================================================= */

@media (max-width: 1100px) {
  :root {
    --spacing-top: 3rem;
  }

  .introText {
    margin-top: var(--spacing-top);

    h2.intro1,
    h2.intro2,
    h2.intro3,
    h2.intro4 {
      font-size: 2.5rem;
    }

    h2.intro1,
    h2.intro3 {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        calc(100% - 3.75rem * 0.95) 100%,
        0% 100%
      );
    }

    h2.intro2,
    h2.intro4 {
      clip-path: polygon(calc(3.75rem * 0.95) 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    h2.intro1 {
      /* vw = 1100 */
      /* padding-right: 375px; */
      /* vw = 684px  */
      /* padding-right: 150px; */
      /* manually found padding for two screen sizes, calculated linear equation */
      padding-right: calc(0.541 * 100vw - 220.1px);
    }

    h2.intro2 {
      /* vw = 1100 */
      /* padding-left: 260px; */
      /* vw = 684px  */
      /* padding-left: 75px; */
      padding-left: calc(0.445 * 100vw - 229.5px);
    }

    h2.intro3 {
      /* vw = 1100 */
      /* padding-right: 150px; */
      /* vw = 684px  */
      /* padding-right: 50px; */
      padding-right: calc(0.24 * 100vw - 114px);
    }

    h2.intro4 {
      /* vw = 1100 */
      /* padding-left: 350px; */
      /* vw = 684px  */
      /* padding-left: 100px; */
      padding-left: calc(0.601 * 100vw - 311.1px);
    }
  }

  .intro5 {
    .bestSellersCards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: var(--spacing);

      > * {
        flex: 1 1 300px;
        max-width: 400px;
      }
    }
  }

  @keyframes slideIn-intro1 {
    to {
      transform: translateX(
        /* calc(-1 * var(--intro-slide-width) + 100vw - 10rem) */
          calc(-1 * var(--intro-slide-width) + 100vw - 2rem)
      );
      opacity: 1;
    }
  }

  @keyframes slideIn-intro2 {
    to {
      /* transform: translateX(20rem); */
      transform: translateX(9rem);
      opacity: 1;
    }
  }

  @keyframes slideIn-intro3 {
    to {
      transform: translateX(
        /* calc(-1 * var(--intro-slide-width) + 100vw - 19.9rem) */
          /* calc(-1 * var(--intro-slide-width) + 100vw - 11.9rem) */
          calc(-1 * var(--intro-slide-width) + 100vw - 9.1rem)
      );
      opacity: 1;
    }
  }

  @keyframes slideIn-intro4 {
    to {
      /* transform: translateX(10rem); */
      transform: translateX(2rem);
      opacity: 1;
    }
  }
}

/* ======================================================================================= */
/* Mobile */
/* ======================================================================================= */

@media (max-width: 684px) {
  :root {
    --spacing-top: 2rem;
  }

  .introText {
    margin-top: (--spacing-top);

    h2.intro1,
    h2.intro2,
    h2.intro3,
    h2.intro4 {
      font-size: 1.5rem;
    }

    h2.intro1,
    h2.intro3 {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        calc(100% - 2.25rem * 0.95) 100%,
        0% 100%
      );
    }

    h2.intro2,
    h2.intro4 {
      clip-path: polygon(calc(2.25rem * 0.95) 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    h2.intro1 {
      /* vw = 684px */
      /* padding-right: 265px; */
      /* vw = 382px  */
      /* padding-right: 100px; */
      /* manually found padding for two screen sizes, calculated linear equation */
      padding-right: calc(0.546 * 100vw - 108.464px);
    }

    h2.intro2 {
      /* vw = 684px */
      /* padding-left: 175px; */
      /* vw = 382px  */
      /* padding-left: 30px; */
      padding-left: calc(0.48 * 100vw - 153.32px);
    }

    h2.intro3 {
      /* vw = 684px */
      /* padding-right: 115px; */
      /* vw = 382px  */
      /* padding-right: 25px; */
      padding-right: calc(0.298 * 100vw - 88.832px);
    }

    h2.intro4 {
      /* vw = 684px */
      /* padding-left: 225px; */
      /* vw = 382px  */
      /* padding-left: 50px; */
      padding-left: calc(0.579 * 100vw - 171.036px);
    }
  }

  @keyframes slideIn-intro1 {
    to {
      transform: translateX(
        /* calc(-1 * var(--intro-slide-width) + 100vw - 10rem) */
          calc(-1 * var(--intro-slide-width) + 100vw - 0rem)
      );
      opacity: 1;
    }
  }

  @keyframes slideIn-intro2 {
    to {
      /* transform: translateX(9rem); */
      transform: translateX(4.2rem);
      opacity: 1;
    }
  }

  @keyframes slideIn-intro3 {
    to {
      transform: translateX(
        /* calc(-1 * var(--intro-slide-width) + 100vw - 9.1rem) */
          calc(-1 * var(--intro-slide-width) + 100vw - 4.25rem)
      );
      opacity: 1;
    }
  }

  @keyframes slideIn-intro4 {
    to {
      /* transform: translateX(10rem); */
      transform: translateX(0rem);
      opacity: 1;
    }
  }
}

/* ======================================================================================= */
/* Tiny Screen Clean up */
/* ======================================================================================= */

@media (max-width: 382px) {
  .introText {
    h2.intro1 {
      padding-right: 100px;
    }

    h2.intro2 {
      padding-left: 30px;
    }

    h2.intro3 {
      padding-right: 25px;
    }

    h2.intro4 {
      padding-left: 50px;
    }
  }

  @keyframes slideIn-intro1 {
    to {
      transform: translateX(
        /* calc(-1 * var(--intro-slide-width) + 100vw - 0rem) */
          calc(-1 * var(--intro-slide-width) + 382px)
      );
      opacity: 1;
    }
  }

  @keyframes slideIn-intro3 {
    to {
      transform: translateX(
        /* calc(-1 * var(--intro-slide-width) + 100vw - 9.1rem) */
          calc(-1 * var(--intro-slide-width) + 382px - 4.25rem)
      );
      opacity: 1;
    }
  }
}
