.card {
  background-color: lightblue;
  background-color: white;
  padding: var(--padding);

  height: 15rem;
  /* width: 54.37rem; */

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacing);
  /* justify-content: space-between; */
  /* justify-content: end; */

  --cut: 5rem;
  --bg: white;
  /* --cut-bg: cadetblue; */
  --cut-bg: lightblue;

  background:
    /* linear-gradient(135deg, var(--cut-bg) 0 50%, transparent 50%) top left, */
    linear-gradient(225deg, var(--cut-bg) 0 50%, transparent 50%) top right,
    /* linear-gradient(315deg, var(--cut-bg) 0 50%, transparent 50%) bottom right, */
      linear-gradient(45deg, var(--cut-bg) 0 50%, transparent 50%) bottom left,
    var(--bg);

  background-size:
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    100% 100%;

  background-repeat: no-repeat;

  --clip: 2rem;
  clip-path: polygon(
    var(--clip) 0%,
    100% 0%,
    100% calc(100% - var(--clip)),
    calc(100% - var(--clip)) 100%,
    0% 100%,
    0% var(--clip)
  );

  .imgWrapper {
    /* max-height: 100%; */
    height: 13rem;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      /* height: 17.5rem; */
      margin: 0 auto;
      /* max-height: 15rem; */
      /* max-width: 75%; */
      /* width: 100px; */

      max-height: 100%;
    }
  }

  .rightSection {
    .topRightSection {
      display: flex;
      justify-content: space-between;
      gap: var(--spacing);

      .price {
        font-size: 2rem;
      }
    }
  }
}

.arrow-container {
  cursor: pointer;
  user-select: none;
}
