/* ======================================================================================= */
/* Desktop */
/* ======================================================================================= */

.card {
  background-color: lightblue;
  background-color: white;
  padding: var(--padding);

  height: 15rem;
  /* width: 54.37rem; */

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacing);
  /* justify-content: space-between; */
  /* justify-content: end; */

  --cut: 5rem;
  --bg: white;
  /* --cut-bg: cadetblue; */
  --cut-bg: lightblue;

  background:
    /* linear-gradient(135deg, var(--cut-bg) 0 50%, transparent 50%) top left, */
    linear-gradient(225deg, var(--cut-bg) 0 50%, transparent 50%) top right,
    /* linear-gradient(315deg, var(--cut-bg) 0 50%, transparent 50%) bottom right, */
      linear-gradient(45deg, var(--cut-bg) 0 50%, transparent 50%) bottom left,
    var(--bg);

  background-size:
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    100% 100%;

  background-repeat: no-repeat;

  --clip: 2rem;
  clip-path: polygon(
    var(--clip) 0%,
    100% 0%,
    100% calc(100% - var(--clip)),
    calc(100% - var(--clip)) 100%,
    0% 100%,
    0% var(--clip)
  );

  .imgWrapper {
    height: 13rem;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 auto;

      max-height: 100%;
    }
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topRightSection {
      display: flex;
      justify-content: space-between;
      gap: var(--spacing);

      .titleWrapper {
        color: var(--color-primary);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .price {
        font-size: 2rem;
      }
    }

    .bottomRightSection {
      .arrowsAndTrash {
        display: flex;
        gap: var(--spacing);

        .arrows {
          display: flex;

          .arrow-container {
            cursor: pointer;
            user-select: none;
          }
        }

        .removeFromCartButton {
          transition: transform 0.15s ease;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

/* ======================================================================================= */
/* Mobile */
/* ======================================================================================= */

@media (max-width: 684px) {
  .card {
    height: fit-content;

    display: flex;
    flex-direction: column;

    .rightSection {
      .topRightSection {
        flex-direction: column;
        justify-content: start;
        gap: 0;
      }
    }

    .bottomRightSection {
      display: flex;
      justify-content: space-between;

      padding-right: var(--padding);
    }
  }
}
