/* ======================================================================================= */
/* Desktop
/* ======================================================================================= */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0;
  /* top: 0; */
  /* left: 0; */

  width: 100vw;
  min-width: var(--site-min-width);
  height: 100vh;

  background-color: rgba(102, 129, 120, 0.5);
}

.popupWrapper {
  background-color: lightblue;

  --width: 50rem;
  --diag-offset: calc(12rem);

  width: var(--width);
  min-width: var(--width);

  overflow-x: hidden;

  clip-path: polygon(
    var(--diag-offset) 0%,
    100% 0%,
    calc(var(--width) - var(--diag-offset)) 100%,
    0% 100%
  );

  .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);

    background-color: white;

    height: 10rem;
    padding: var(--spacing);
    margin: var(--spacing) auto;

    --width: 45rem;
    --diag-offset: calc(10rem);

    width: var(--width);
    min-width: var(--width);

    clip-path: polygon(
      var(--diag-offset) 0%,
      100% 0%,
      calc(var(--width) - var(--diag-offset)) 100%,
      0% 100%
    );

    .message {
      font-size: 1.5rem;
    }
  }
}

/* ======================================================================================= */
/* Tiny Screen Clean up */
/* ======================================================================================= */

@media (max-width: 390px) {
  .overlay {
    min-height: calc(100vh * (390px / 100vw));
  }
}
