.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(71, 143, 119, 0.5);
}

.popup {
  width: 20rem;
  height: 10rem;

  background-color: lightblue;

  padding: 1rem;

  text-align: center;
}
