.card {
  background-color: lightblue;
  background-color: white;
  padding: var(--padding);

  height: 28rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: end; */

  --cut: 5rem;
  --bg: white;
  /* --cut-bg: cadetblue; */
  --cut-bg: lightblue;

  background:
    /* linear-gradient(135deg, var(--cut-bg) 0 50%, transparent 50%) top left, */
    linear-gradient(225deg, var(--cut-bg) 0 50%, transparent 50%) top right,
    /* linear-gradient(315deg, var(--cut-bg) 0 50%, transparent 50%) bottom right, */
      linear-gradient(45deg, var(--cut-bg) 0 50%, transparent 50%) bottom left,
    var(--bg);

  background-size:
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    100% 100%;

  background-repeat: no-repeat;

  .imgAndTitle {
    img {
      /* max-height: 17.5rem; */
      margin: 0 auto;
      max-height: 15rem;
      /* max-width: 75%; */
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .starsAndPrice {
      display: flex;
      justify-content: center;
      /* align-content: center; */
      align-items: center;

      gap: 2rem;

      .price {
        font-weight: bold;
      }
    }

    button {
      align-self: center;
    }
  }
}
