.card {
  /* background-color: lightblue; */
  background-color: white;
  padding: var(--padding);

  height: 30rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: end; */

  --cut: 5rem;
  --bg: white;
  /* --cut-bg: cadetblue; */
  --cut-bg: lightblue;

  background:
    /* linear-gradient(135deg, var(--cut-bg) 0 50%, transparent 50%) top left, */
    linear-gradient(225deg, var(--cut-bg) 0 50%, transparent 50%) top right,
    /* linear-gradient(315deg, var(--cut-bg) 0 50%, transparent 50%) bottom right, */
      linear-gradient(45deg, var(--cut-bg) 0 50%, transparent 50%) bottom left,
    var(--bg);

  background-size:
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    var(--cut) var(--cut),
    100% 100%;

  background-repeat: no-repeat;

  --clip: 2rem;
  clip-path: polygon(
    var(--clip) 0%,
    100% 0%,
    100% calc(100% - var(--clip)),
    calc(100% - var(--clip)) 100%,
    0% 100%,
    0% var(--clip)
  );

  .topSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imgWrapper {
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        /* max-height: 17.5rem; */
        margin: 0 auto;
        max-height: 15rem;
        /* max-width: 75%; */
      }
    }

    .info {
      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
      .price {
        /* font-weight: bold; */
        font-size: 2rem;
      }
    }
  }

  .viewProdButton {
    align-self: center;
  }
}
