/* ======================================================================================= */
/* Desktop */
/* ======================================================================================= */

.shopBody {
  display: flex;
  margin: 0 auto;

  min-width: 1100px;
  max-width: 1500px;
  padding: var(--padding);

  .sortAndFilterSectionWrapper {
    background-color: var(--bg-color-dark);
    color: white;

    padding: var(--padding);
    margin-right: var(--spacing);
    margin-top: 0;

    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    position: sticky;
    height: fit-content;
    top: 4rem;

    .sortAndFilterSection {
      display: flex;
      flex-direction: column;
      gap: var(--spacing);

      .filterSortTitle {
        font-weight: 400;
        border-bottom: white solid 1px;
        margin-bottom: 0.5rem;
      }
    }

    .resetButton {
      appearance: none;
      border: none;
      margin: 0 auto;

      transition: transform 0.15s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .productCards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    width: 100%;
  }
}

/* ======================================================================================= */
/* Tablet/Mobile */
/* ======================================================================================= */

@media (max-width: 1100px) {
  .shopBody {
    flex-direction: column;
    gap: var(--spacing);

    min-width: 390px; /* can lower more */
    max-width: 1100px;

    .sortAndFilterSectionWrapper {
      margin-right: 0;

      position: inherit;
      top: initial;

      .sortAndFilterSection {
        display: grid;
        grid-template-columns: 2fr 1fr;

        .filterSortChoices {
          display: flex;
          flex-wrap: wrap;
          gap: var(--spacing);
          row-gap: 0;
        }
      }

      .resetButton {
        padding: 0.25rem;
        height: 2rem;

        background-color: var(--bg-color-secondary);

        width: 50%;

        transition:
          transform 0s ease,
          width 0.25s ease;

        --diag-offset: calc(32rem / 16);

        clip-path: polygon(
          var(--diag-offset) 0%,
          100% 0%,
          calc(100% - var(--diag-offset)) 100%,
          0% 100%
        );

        &:hover {
          cursor: pointer;
          transform: scale(1);
          width: calc(1.1 * 50%);
        }
      }
    }
  }
}
