.shopBody {
  display: flex;
  margin: 0 auto;

  min-width: 1100px;
  max-width: 1500px;
  padding: var(--padding);

  .sortAndFilterSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    padding: var(--padding);
    margin-right: var(--spacing);
    margin-top: 0;

    /* min-height: 30rem; */

    position: sticky;
    height: fit-content;
    top: 4rem;

    background-color: var(--bg-color-dark);
    color: white;

    .filterSortTitle {
      font-weight: 400;
      border-bottom: white solid 1px;
      margin-bottom: 0.5rem;
    }

    .resetButton {
      appearance: none;
      border: none;
      margin: 0 auto;

      transition: transform 0.15s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .productCards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    /* padding: var(--padding) 0; */
  }
}
