@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto-font {
}

:root {
  /* vars */
  --bg-color-primary: cadetblue;
  --bg-color-secondary: lightblue;
  --bg-color-dark: lightslategray;
  --color-primary: black;
  --color-secondary: white;
  --padding: 1rem;
  --spacing: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color-primary);

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  /* min-width: 40rem; */
}

/* 
-----------------------------------------------------------------
Catch All
-----------------------------------------------------------------
 */

.diagButton {
  --width: 14rem;
  --mult: 1.1;
  --margin-calc: calc((var(--width) * var(--mult) - var(--width)) / 2);
  --diag-offset: 2.4rem;
  height: fit-content;

  margin: 0 var(--margin-calc);

  display: flex;
  justify-content: center;

  text-decoration: none;

  padding: 0.5rem 0;
  border: none;
  clip-path: polygon(
    var(--diag-offset) 0%,
    100% 0%,
    calc(var(--width) - var(--diag-offset)) 100%,
    0% 100%
  );
  width: var(--width);
  min-width: var(--width);

  background-color: lightslategray;

  transition:
    width 0.25s ease,
    margin 0.25s ease,
    clip-path 0.25s ease;

  &:hover {
    width: calc(1.1 * var(--width));
    margin: 0;
    clip-path: polygon(
      var(--diag-offset) 0%,
      100% 0%,
      calc(var(--width) * var(--mult) - var(--diag-offset)) 100%,
      0% 100%
    );
  }

  button {
    color: white;
    border: none;
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
