@import url("./reset.css");

:root {
  background-color: cadetblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

button a {
  text-decoration: none;
}
